<div class="container container-md">
    <div class="row mb-3">
        <div class="col-lg-8">
            <div class="h1 text-bold">FAQs</div>
            <p class="text-muted">Praesent id mauris urna, et tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <p class="mb-3">Sed semper diam vitae purus tristique at scelerisque massa ultricies.</p>
                    <button class="btn btn-info" type="button">Contact support</button>
                </div>
            </div>
        </div>
    </div>
    <h4 class="my-3 py-3 text-dark">Some presale Questions</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen5">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen6">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h4 class="my-3 py-3 text-dark">Buyer Questions</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen1">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h4 class="my-3 py-3 text-dark">Seller Questions</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen1">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>How can I change the color?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
</div>
