<div class="content-heading">
    <div>
        Dropdown Animations
        <small>Extends the dropdown effects when open just adding an animation class</small>
    </div>
</div>
<!-- START row-->
<div class="row">
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>bounce <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated bounce" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>flash <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated flash" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>pulse <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated pulse" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>rubberBand <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated rubberBand" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>shake <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated shake" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>swing <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated swing" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>tada <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated tada" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>wobble <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated wobble" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>bounceIn <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated bounceIn" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>bounceInDown <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated bounceInDown" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>bounceInLeft <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated bounceInLeft" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>bounceInRight <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated bounceInRight" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>bounceInUp <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated bounceInUp" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeIn <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeIn" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInDown <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInDown" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInDownBig <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInDownBig" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInLeft <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInLeft" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInLeftBig <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInLeftBig" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInRight <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInRight" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInRightBig <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInRightBig" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInUp <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInUp" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>fadeInUpBig <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated fadeInUpBig" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>flip <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated flip" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>flipInX <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated flipInX" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>flipInY <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated flipInY" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>lightSpeedIn <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated lightSpeedIn" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>rotateIn <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated rotateIn" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>rotateInDownLeft <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated rotateInDownLeft" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>rotateInDownRight <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated rotateInDownRight" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>rotateInUpLeft <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated rotateInUpLeft" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>rotateInUpRight <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated rotateInUpRight" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>hinge <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated hinge" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>rollIn <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated rollIn" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>zoomIn <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated zoomIn" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>zoomInDown <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated zoomInDown" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>zoomInLeft <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated zoomInLeft" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>zoomInRight <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated zoomInRight" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
    <div class="col-lg-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div class="btn-group" dropdown>
                <button class="btn btn-secondary" dropdownToggle>zoomInUp <b class="caret"></b>
                </button>
                <div *dropdownMenu class="dropdown-menu animated zoomInUp" role="menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
</div>
<!-- END row-->
<br/>
<br/>
<br/>
<br/>
<br/>
