<div class="content-heading">
    <div>Invoice</div>
    <button class="btn btn-primary ml-auto" type="button">
        <em class="fa fa-plus-circle fa-fw mr-1"></em>
        New Invoice
    </button>
</div>
<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h3 class="m-0">Invoice 00004879</h3>
            <button class="ml-auto btn btn-secondary btn-sm" type="button">Copy this invoice</button>
        </div>
        <hr/>
        <div class="row mb-3">
            <div class="col-xl-4 col-6 br py-2">
                <div class="row">
                    <div class="col-lg-2 text-center d-none d-lg-block">
                        <em class="fa fa-plane fa-4x text-muted"></em>
                    </div>
                    <div class="col-lg-10">
                        <h4>Bill Mitchelle</h4>
                        <address></address>Nowhere 1024
                        <br/>Happy St., 50487
                        <br/>Neverland</div>
                </div>
            </div>
            <div class="col-xl-4 col-6 br py-2">
                <div class="row">
                    <div class="col-lg-2 text-center d-none d-lg-block">
                        <em class="fa fa-truck fa-4x text-muted"></em>
                    </div>
                    <div class="col-lg-10">
                        <h4>Lloyd Gonzales</h4>
                        <address></address>Basilisa 2145
                        <br/>Mate, Cliff., 20145
                        <br/>Moon</div>
                </div>
            </div>
            <hr/>
            <div class="col-xl-4 col-12 py-2">
                <div class="clearfix">
                    <p class="float-left">INVOICE NO.</p>
                    <p class="float-right mr-2">00004879</p>
                </div>
                <div class="clearfix">
                    <p class="float-left">Date</p>
                    <p class="float-right mr-2">25/08/2014</p>
                </div>
                <div class="clearfix">
                    <p class="float-left">Due Date</p>
                    <p class="float-right mr-2">30/08/2014</p>
                </div>
            </div>
        </div>
        <div class="table-responsive table-bordered mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item #</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>Iphone 5s - 64Gb</td>
                        <td>3</td>
                        <td>$ 200</td>
                        <td class="text-right">$ 600</td>
                    </tr>
                    <tr>
                        <td>2002</td>
                        <td>Iphone 6s - 128Gb</td>
                        <td>5</td>
                        <td>$ 500</td>
                        <td class="text-right">$ 2500</td>
                    </tr>
                    <tr>
                        <td>3010</td>
                        <td>Ipad 11z - 512Gb</td>
                        <td>1</td>
                        <td>$ 650</td>
                        <td class="text-right">$ 650</td>
                    </tr>
                    <tr>
                        <td>3009</td>
                        <td>iMac ProRetina 17</td>
                        <td>6</td>
                        <td>$ 1100</td>
                        <td class="text-right">$ 6600</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 py-2">
                <div class="row mb-3">
                    <div class="col-8">Subtotal</div>
                    <div class="col-4">
                        <div class="text-right">$ 10300</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-8">Tax (21%)</div>
                    <div class="col-4">
                        <div class="text-right">$ 2700</div>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-7">
                        <div class="h3">GRAND TOTAL</div>
                    </div>
                    <div class="col-5">
                        <div class="text-right h3">$ 13000</div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="d-print-none" />
        <div class="clearfix">
            <button class="btn btn-info float-left mr-2" type="button">Edit</button>
            <button class="btn btn-secondary float-left" type="button" onclick="window.print();">Print</button>
            <button class="btn btn-success float-right" type="button">Send Invoice</button>
        </div>
    </div>
</div>
