<div class="content-heading">
    <div>
        Forum - Topics
        <small>Category ID: {{ catid }}</small>
    </div>
    <div class="ml-auto">
        <a class="btn btn-sm btn-secondary text-sm" [routerLink]="'/extras/forum'">&lt; back</a>
    </div>
</div>
<div class="card card-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="h4" style="width: 50%">Welcome</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h4>
                        <a [routerLink]="['/extras/forum/discussion/', 9999]">
                            <strong>Powered by AngularJS</strong>
                        </a>
                    </h4>
                    <div class="text-muted text-sm">
                        <span>
                            <strong class="mr-1">17</strong>views</span>
                        <span class="mx-1"></span>
                        <span>
                            <strong class="mr-1">19</strong>comments</span>
                    </div>
                </td>
                <td class="text-right d-none d-lg-table-cell">
                    <div class="text-muted">
                        <small class="mr-1">Started by</small>
                        <a class="mr-1">Victoria West</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        <a [routerLink]="['/extras/forum/discussion/', 9999]">
                            <strong>How to create an AngularJS admin GUI?</strong>
                        </a>
                    </h4>
                    <div class="text-muted text-sm">
                        <span>
                            <strong class="mr-1">7</strong>views</span>
                        <span class="mx-1"></span>
                        <span>
                            <strong class="mr-1">13</strong>comments</span>
                    </div>
                </td>
                <td class="text-right d-none d-lg-table-cell">
                    <div class="text-muted">
                        <small class="mr-1">Started by</small>
                        <a class="mr-1">Olivia Reynolds</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        <a [routerLink]="['/extras/forum/discussion/', 9999]">
                            <strong>Issue found..</strong>
                        </a>
                    </h4>
                    <div class="text-muted text-sm">
                        <span>
                            <strong class="mr-1">13</strong>views</span>
                        <span class="mx-1"></span>
                        <span>
                            <strong class="mr-1">500</strong>comments</span>
                    </div>
                </td>
                <td class="text-right d-none d-lg-table-cell">
                    <div class="text-muted">
                        <small class="mr-1">Started by</small>
                        <a class="mr-1">Michelle Lane</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        <a [routerLink]="['/extras/forum/discussion/', 9999]">
                            <strong>Share your application</strong>
                        </a>
                    </h4>
                    <div class="text-muted text-sm">
                        <span>
                            <strong class="mr-1">98</strong>views</span>
                        <span class="mx-1"></span>
                        <span>
                            <strong class="mr-1">1900</strong>comments</span>
                    </div>
                </td>
                <td class="text-right d-none d-lg-table-cell">
                    <div class="text-muted">
                        <small class="mr-1">Started by</small>
                        <a class="mr-1">Derek Jensen</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        <a [routerLink]="['/extras/forum/discussion/', 9999]">
                            <strong>Angle - Angular Admin Template</strong>
                        </a>
                    </h4>
                    <div class="text-muted text-sm">
                        <span>
                            <strong class="mr-1">17</strong>views</span>
                        <span class="mx-1"></span>
                        <span>
                            <strong class="mr-1">19</strong>comments</span>
                    </div>
                </td>
                <td class="text-right d-none d-lg-table-cell">
                    <div class="text-muted">
                        <small class="mr-1">Started by</small>
                        <a class="mr-1">Colleen Cole</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        <a [routerLink]="['/extras/forum/discussion/', 9999]">
                            <strong>Take a breakfast and happy coding</strong>
                        </a>
                    </h4>
                    <div class="text-muted text-sm">
                        <span>
                            <strong class="mr-1">31</strong>view</span>
                        <span class="mx-1"></span>
                        <span>
                            <strong class="mr-1">190</strong>comments</span>
                    </div>
                </td>
                <td class="text-right d-none d-lg-table-cell">
                    <div class="text-muted">
                        <small class="mr-1">Started by</small>
                        <a class="mr-1">Charlene Barrett</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        <a [routerLink]="['/extras/forum/discussion/', 9999]">
                            <strong>Sed vitae nisi eget metus semper congue.</strong>
                        </a>
                    </h4>
                    <div class="text-muted text-sm">
                        <span>
                            <strong class="mr-1">27</strong>views</span>
                        <span class="mx-1"></span>
                        <span>
                            <strong class="mr-1">419</strong>comments</span>
                    </div>
                </td>
                <td class="text-right d-none d-lg-table-cell">
                    <div class="text-muted">
                        <small class="mr-1">Started by</small>
                        <a class="mr-1">Austin Montgomery</a>
                        <small>on March 10, 2015</small>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
